.cover {
  .image-wellcome {
    justify-content: flex-end;
    align-items: left;
    display: flex;
    padding-top: 2.5rem;
    padding-right: 0.5rem;
    img {
      width: 90%;
      height: auto;
      border-color: black;
    }
  }

  .image-date {
    justify-content: flex-end;
    align-items: left;
    display: flex;
    z-index: 2;
    img {
      width: 28%;
      height: auto;
      border-color: black;
    }
  }

  .blur-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -10rem;
  }

  .blur-wrapper img {
    width: 100%;
    display: block;
    /* Fade độ rõ bằng mask */
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.8) 20%,
      black 50%,
      black 70%,
      rgba(0, 0, 0, 0.8) 90%,
      rgba(0, 0, 0, 0.1) 95%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 10%,
      rgba(0, 0, 0, 1) 20%,
      black 50%,
      black 70%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0.8) 95%,
      transparent 100%
    );
  }
}
