.cover {
  div {
    // border: 1px solid black;
  }
  .std {
    width: 100%;
    min-width: 20px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
    font-weight: normal;
    font-family: "Faugllin Balseyn";
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    bottom: -2rem;
  }

  .weddingDate {
    width: 100%;
    min-width: 20px;
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
    font-family: Mentawai;
    text-align: left;
    line-height: normal;
    padding-left: 3rem;
    margin-top: -1.5rem;
  }

  .HT {
    height: auto;
    width: 100%;
    min-width: 20px;
    color: rgb(255, 255, 255);
    font-size: 43px;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
    font-weight: bold;
    font-family: "Faugllin Balseyn";
    text-align: center;
    margin-top: 1rem;
  }

  .AnhHT {
    position: relative;
  }

  .chuhy {
    position: absolute;
    top: -1rem; /* Khoảng cách từ đỉnh hình ảnh anhhaidua */
    right: 1.5rem; /* Khoảng cách từ bên phải hình ảnh anhhaidua */
    width: 40%; /* Bạn có thể điều chỉnh kích thước của chuhy */
    height: auto; /* Giữ tỷ lệ chiều cao */
    z-index: 1;
  }

  .anhhaidua {
    position: relative;
    width: 70%;
    z-index: 2;
  }

  .rectangle-parent {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    z-index: 3;
    height: 150rem;
  }

  .wedd {
    position: absolute;
    height: auto;
    width: 100%;
    min-width: 20px;
    font-size: 36px;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
    font-weight: bold;
    font-family: "Right Here";
    text-align: center;
    padding-top: 0.5rem;
  }

  .rectangle {
    width: 90%; /* Chiều rộng của hình chữ nhật */
    aspect-ratio: 1 / 1; /* Chiều cao của hình chữ nhật */
    background-color: white; /* Màu nền */
    border-radius: 50px; /* Bo góc (tùy chọn) */
  }

  .recred {
    position: absolute;
    top: 60px;
    width: 90%; /* Chiều rộng của hình chữ nhật */
    aspect-ratio: 1 / 1; /* Chiều cao của hình chữ nhật */
    background-color: #752323; /* Màu nền */
    z-index: 3;
  }

  .long-rectangle {
    position: absolute;
    top: 72px;
    width: 90%; /* Chiều rộng của hình chữ nhật */
    aspect-ratio: 1 / 6; /* Chiều cao của hình chữ nhật */
    background-color: white; /* Màu nền */
    z-index: 3;
  }

  .Hainha {
    display: flex;
    align-items: center;
  }

  .moinha {
    width: 50%;
    display: block;
    justify-content: center;
  }

  .nha-name {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    font-family: "Scarlet Bradley.regular";
    text-align: center;
  }

  .tenbome {
    display: block;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-family: "Scarlet Bradley.regular";
    text-align: center;
  }

  .anhlogo2dua {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    z-index: 3;
  }

  .anhlogohung {
    width: 45%;
    display: flex;
    justify-content: center;
    img {
      padding: 0.25rem;
      width: 78%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .anhlogotrang {
    width: 45%;
    display: flex;
    justify-content: center;
    img {
      padding: 0.25rem;
      width: 78%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .tenhaidua {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tenhung {
    height: auto;
    width: 48%;
    color: rgb(117, 35, 35);
    font-size: 23px;
    font-family: "Faugllin Balseyn";
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }

  .tentrang {
    height: auto;
    width: 48%;
    color: rgb(117, 35, 35);
    font-size: 23px;
    font-family: "Faugllin Balseyn";
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }

  .tenva {
    height: auto;
    width: 8%;
    min-width: 20px;
    color: rgb(117, 35, 35);
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 2px;
    font-weight: normal;
    font-family: "Sacramento";
    text-align: center;
    margin-top: -1rem;
  }

  .containerName {
    position: relative;
    display: flex;
  }

  .blur-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -12rem;
  }

  .blur-wrapper img {
    width: 100%;
    display: block;
    /* Fade độ rõ bằng mask */
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.8) 20%,
      black 50%,
      black 70%,
      rgba(0, 0, 0, 0.8) 90%,
      rgba(0, 0, 0, 0.1) 95%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 10%,
      rgba(0, 0, 0, 1) 20%,
      black 50%,
      black 70%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0.8) 95%,
      transparent 100%
    );
  }
}
